include base
+base()
  section#products
    .container
      h2.home-heading.text-center Products
      mixin prod(title, link, img)
        .col-md-3
          .product
            img(src=img alt=title+" img.")
            a(href=link title=title target="_blank")
          h6.text-center=title
      h3.home-subheading Brands
      hr
      .row.brands
        +prod("A4", "http://www.4logoapparel.com/cgi-bin/hw/chwDisplaySubcategoryStyles_Submit.w?hwCN=197208212203201210201214205199180214205199201200&hwCNCD=likOamsDPlciaczn&catCode=all&subcatCode=A4", "http://www.4logoapparel.com/images/alp/millLarge/a4.jpg")
        +prod("Dickies", "http://www.4logoapparel.com/cgi-bin/hw/chwDisplaySubcategoryStyles_Submit.w?hwCN=197208212203201210201214205199180214205199201200&hwCNCD=likOamsDPlciaczn&catCode=all&subcatCode=WD", "http://www.4logoapparel.com/images/alp/millLarge/wd.jpg")
        +prod("Adidas", "http://www.4logoapparel.com/cgi-bin/hw/chwDisplaySubcategoryStyles_Submit.w?hwCN=197208212203201210201214205199180214205199201200&hwCNCD=likOamsDPlciaczn&catCode=all&subcatCode=04", "http://www.4logoapparel.com/images/alp/millLarge/04.jpg")
        +prod("Champion", "http://www.4logoapparel.com/cgi-bin/hw/chwDisplaySubcategoryStyles_Submit.w?hwCN=197208212203201210201214205199180214205199201200&hwCNCD=likOamsDPlciaczn&catCode=all&subcatCode=38", "http://www.4logoapparel.com/images/alp/millLarge/38.jpg")
      .row.brands
        +prod("Fruit of the Loom", "http://www.4logoapparel.com/cgi-bin/hw/chwDisplaySubcategoryStyles_Submit.w?hwCN=197208212203201210201214205199180214205199201200&hwCNCD=likOamsDPlciaczn&catCode=all&subcatCode=20", "http://www.4logoapparel.com/images/alp/millLarge/20.jpg")
        +prod("Bayside", "http://www.4logoapparel.com/cgi-bin/hw/chwDisplaySubcategoryStyles_Submit.w?hwCN=197208212203201210201214205199180214205199201200&hwCNCD=likOamsDPlciaczn&catCode=all&subcatCode=BS", "http://www.4logoapparel.com/images/alp/millLarge/bs.jpg")
        +prod("Marmot", "http://www.4logoapparel.com/cgi-bin/hw/chwDisplaySubcategoryStyles_Submit.w?hwCN=197208212203201210201214205199180214205199201200&hwCNCD=likOamsDPlciaczn&catCode=all&subcatCode=MR", "http://www.4logoapparel.com/images/alp/millLarge/mr.jpg")
        +prod("Nike", "http://azembroidme.norwood.com/category/GOLF/NIKE/Nike%25AE/", "https://lh4.googleusercontent.com/-kRKz2fbGRAM/U8xz2fKyJQI/AAAAAAAAAMQ/DBX281nHTuQ/s0-d/image002.png")
      h3.home-subheading Items
      hr
      .row.items
        +prod("T-Shirts","http://www.companycasuals.com/azembroidme/b.jsp?id=125&parentId=1", "http://www.companycasuals.com/images/PC61YTN.jpg")
        +prod("Sweaters", "http://www.companycasuals.com/azembroidme/b.jsp?id=127&parentId=1", "http://www.companycasuals.com/images/996YTN.jpg")
        +prod("Headwear", "http://azembroidme.norwood.com/category/OUTDOOR/HEADWEAR/Headwear/", "http://azembroidme.norwood.com/images/products/medium/15523_M.jpg")
        +prod("Outerwear", "http://www.companycasuals.com/azembroidme/b.jsp?id=117&parentId=1", "http://www.companycasuals.com/images/J749TN.jpg")
      .row.items
        +prod("Chairs","http://azembroidme.norwood.com/category/OUTDOOR/CHAIRS/Chairs%2B%2526%2BStadium%2BSeats/", "http://azembroidme.norwood.com/images/products/medium/45144_M.jpg")
        +prod("Bags", "http://azembroidme.norwood.com/category/BAG/Bags/", "http://azembroidme.norwood.com/images/products/medium/15083_M.jpg")
        +prod("Golf", "http://azembroidme.norwood.com/category/GOLF/Golf/", "http://azembroidme.norwood.com/images/products/medium/62291_M.jpg")
        +prod("Office", "http://azembroidme.norwood.com/category/OFFICE/Office/", "http://azembroidme.norwood.com/images/products/medium/20298_M.jpg")


